/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Color reference
	#Site Styles
	#Page Styles
	#Media Queries */

/* #Color reference
================================================== */
/*
/* beige:       #ebebdf
/* orange:      #db562b
/* bright-blue: #54c2db
/* light-blue: 	#698499
/* dark-blue:   #304351

/* #Site Styles
================================================== */

body {
    border-top: 5px #304351 solid;
}

header.page,
div.main,
footer.page {
    padding: 20px 0;
}

header.page,
div.main {
    border-bottom: 1px #ded9c7 solid;    
}

div.main,
footer.page {
    border-top: 1px #fff solid;
}

header.page {
    padding-top: 0;
}
    img.logo-fs {
	padding-top: 10px;
    }
    
    nav.main ul {
        margin-bottom: 0;
    }
    
    nav.main li {
        text-align: center;
    }
    
    nav.main a {
        display: block;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 0;
	padding-top: 30px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
        nav.main a:hover {
            background: transparent url(../images/menu-hover.png) no-repeat center 0;
            color: #304351;
        }

div.main {
}

    .main section {
	margin-bottom: 20px;
    }

    .main section.intro {
	margin-bottom: 28px;
    }


/* #Page Styles
================================================== */

/* Project pages */

.projects li.project {
    margin-bottom: 60px;
}

.projects li.project img {
    border: 1px #fff solid;
    
    -moz-box-shadow: 0 0 5px 3px #ded9c7;
    -webkit-box-shadow: 0 0 5px 3px #ded9c7;
    box-shadow: 0 0 5px 3px #ded9c7;
}

.projects li.project header,
.projects li.project .description,
.projects li.project footer {
}

.projects li.project header {
    padding-bottom: 28px;
}

.projects li.project .description {
    border-bottom: 1px #ded9c7 solid;
}

.projects li.project footer {
    border-top: 1px #fff solid;
    padding-top: 21px;
}

.projects li.project .sub-title {
    text-transform: uppercase;
}

.projects li.project .metadata {
    font-size: 14px; /*Same as legend*/
}

.projects li.project .project-link {
    margin-top: 21px;
}

.projects li.project .project-link a {
    background: #304351 url(../images/launch.png) no-repeat right;
    color: #ebebdf;
    padding: 5px 50px 5px 10px;
    text-decoration: none;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
            img.five.columns.logo-fs { margin: auto 100px; width: 220px; }
            nav.main a { padding: 5px 0; }
	    nav.main a:hover {background-image: none;}
            nav.main li { height: auto; }
        }
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
            img.five.columns.logo-fs { margin: auto 40px; width: 220px; }
            nav.main a { padding: 5px 0; }
	    nav.main a:hover {background-image: none;}
            nav.main li { height: auto; }
            h1 { font-size: 28px; line-height: 34px; margin-bottom: 20px; }
            h2 { font-size: 24px; line-height: 30px; margin-bottom: 8px; }
            h3 { font-size: 21px; line-height: 24px; margin-bottom: 4px; }
        }