/*
 * Skeleton V1.2
 * Copyright 2011, Dave Gamache
 * www.getskeleton.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 6/20/2012
 */

/* Table of Content
 ==================================================
 #Color reference
 #Site Styles
 #Page Styles
 #Media Queries */

/* #Color reference
 ================================================== */
/*
 /* beige:       #ebebdf
 /* orange:      #db562b
 /* bright-blue: #54c2db
 /* light-blue: 	#698499
 /* dark-blue:   #304351

 /* #Site Styles
 ================================================== */

.about .icon {
  color: #CDCABB;
  font-size: 8em;
  margin: 20px 0 20px 20px;
}

@font-face {
  font-family: 'Entypo';
  src: url('../font/entypo.eot'); /* IE9 Compat Modes */
  src: url('../font/entypo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/entypo.woff') format('woff'), /* Modern Browsers */
       url('../font/entypo.ttf')  format('truetype'); /* Safari, Android, iOS */
  }

@font-face {
  font-family: 'Entypo-Social';
  src: url('../font/entypo-social.eot'); /* IE9 Compat Modes */
  src: url('../font/entypo-social.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/entypo-social.woff') format('woff'), /* Modern Browsers */
       url('../font/entypo-social.ttf')  format('truetype'); /* Safari, Android, iOS */
  }

.icon {
  font-family: 'Entypo';
  font-size: 4em;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
}

.icon.social {
  font-family: 'Entypo-Social';
}

hr.divider {
  border-bottom: 1px #fff solid;
  border-top: 1px #ded9c7 solid;
  margin-bottom: 0;
  margin-top: 0;
}

body {
  border-top: 5px #304351 solid;
}

.contact-info {
  background-color: #304351;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 20px;
}

.contact-info label {
  color: #54c2db;
  font-weight: normal;
  text-transform: uppercase;
}

.contact-info li {
  margin-bottom: 20px !important;
}

.contact-info li .column {/*phone number and email are pseudo grids. They don't stack on smaller screens, instead float. */
  width: 220px;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
}

header.page, div.main, footer.page {
  padding: 20px 0;
}

header.page {
  padding-top: 0;
}
img.logo-fs {
  padding-top: 10px;
}

nav.main ul {
  float: right;
  margin-bottom: 0;
}

nav.main li {
  text-align: center;
  width: 100px; /*defining the width since we are not giving a official grid class so menu items float on smaller screen sizes */
}

nav.main a {
  display: block;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 0;
  padding-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

nav.main a:hover {
  background: transparent url(../images/menu-hover.png) no-repeat center 0;
  color: #304351;
}

div.main {
}

.main section {
  margin-bottom: 20px;
}

.main aside section.box {
  font-size: 0.8125em;
  background-color: #f5f6ed;
  border: 1px solid #CDCABB;
  border-width: 1px 0;
  padding: 1em .9em 0 .9em ;
}

/* #Page Styles
 ================================================== */

/*page */

.illustration {
  background: transparent url(../images/flipside-illustration.png) no-repeat;
  height: 385px;
}

.illustration a {
  background-color: #304351;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin-top: 250px;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  -moz-transition: background-color 0.2s ease-in-out 0s;
  -webkit-transition: background-color 0.2s ease-in-out 0s;
  -o-transition: background-color 0.2s ease-in-out 0s;
  transition: background-color 0.2s ease-in-out 0s;
}

.illustration a:hover {
  background-color: #db562b;
}

.illustration a span {
  font-size: 1.4em;
}

/* generic classes */

.sub-title {
  text-transform: uppercase;
}

.metadata {
  font-size: 14px; /*Same as legend*/
}


/* frontpage */

.front-projects h3 {
  padding-top: 20px;
}

.front-projects a {
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  text-decoration: none;
}

.front-projects .project a {
  border: 1px #fff solid;
  font-size: 0.9em;
  -moz-box-shadow: 0 0 3px 1px #ded9c7;
  -webkit-box-shadow: 0 0 3px 1px #ded9c7;
  box-shadow: 0 0 3px 1px #ded9c7;
  margin-bottom: 20px;
}

.front-projects .project a img {
  height: 198px;
}

.front-projects .project a:hover img {
  display: none;
}

.front-projects .project a .description {
  display: none;
}

.front-projects .project a:hover .description {
  background-color: #698499;
  display: block;
  height: 178px;
  padding: 10px;
  text-decoration: none;
}

.front-projects .project a .description .center {
  margin-top: 30px;
  text-align: center;
}

.front-projects .read-more a {
  background: transparent url(../images/project-readmore-spr.png) no-repeat 0px 0px;
  width: 300px;
  height: 200px;
  line-height: 200px; /*same as height parent div*/
  text-align: center;
}

.front-projects .read-more a:hover {
  background: transparent url(../images/project-readmore-spr.png) no-repeat 0px -200px;
  width: 300px;
  height: 200px;
}

.front-projects .read-more .description {
}

/* Project pages */

.project-list .project {
  margin: 0;
  padding: 42px 0;
}

.project-list .project.first, .note.first {
  padding-top: 0;
}

.project-list .project img {
  border: 1px #fff solid;
  margin-bottom: 21px;
  -moz-box-shadow: 0 0 3px 1px #ded9c7;
  -webkit-box-shadow: 0 0 3px 1px #ded9c7;
  box-shadow: 0 0 3px 1px #ded9c7;
}

.project-list .project header {
  padding-bottom: 28px;
}

.project-list .project footer {
  padding-top: 21px;
}

.project-list .project .project-link {
  margin-top: 21px;
}

.project-list .project .project-link a {
  background: #304351 url(../images/launch.png) no-repeat right;
  color: #ebebdf;
  padding: 5px 50px 5px 10px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/*** Blog pages ***/

.notes-list h3 a {
  color: #DB562B;
  text-decoration: none;
}

.notes-list header {
  margin-bottom: 20px;
}

.notes-list li {
  margin: 20px 0;
}

.notes-list li.first {
  margin-top: 0;
}
.notes-list li.last {
  margin-bottom: 0;
}

.blog-post .user, .blog-post .date, .blog-post .tags{
  font-size: 12px;
  text-transform: uppercase;
}

.blog-post h1{
  margin-bottom: 0;
}

.blog-post h1 a{
  color: #DB562B;
  text-decoration: none;
}
.blog-post h1 a:hover{
  text-decoration: underline;
}

.post-list .blog-post{
  padding-top: 20px;
}

.blog-post.first {
  padding-top: 0;
}

code{
  font-family: Courier;
  font-size: 0.875em;
  font-weight: bold;
  background-color: #F8F8FF;
  padding: 2px 4px;
  overflow-x: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; /* future proofing */
  -khtml-border-radius: 3px; /* for old Konqueror browsers */
}

pre code{
    margin-bottom: 20px; 
}

.author-photo{
  border: 4px solid #CDCABB;
  display: block;
  float: left;
  margin: 0 0.5em 0.5em 0;
  width: 80px;
}

/* Generic page elements */

.main .left {
  float: left;
  margin: 10px 10px 10px 0;
}

.main .right {
  float: right;
  margin: 20px 0 60px 10px;
}

/* #Media Queries
 ================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

  /*front-page*/
  .contact-info li .column {
    width: 172px;
  }
  .illustration {
    background: transparent url(../images/flipside-illustration-medium.png) no-repeat;
    height: 306px;
  }
  .illustration a {
    margin-top: 180px;
  }
  .front-projects .project a img {
    height: 155px;
  }
  .front-projects .project a:hover .description {
    height: 135px;
  }

  /*height image -/- 10 10 padding*/
  .front-projects .read-more a {
    background: transparent url(../images/project-readmore-small-spr.png) no-repeat;
    line-height: 157px;
    width: 236px;
    height: 157px;
  }
  .front-projects article.read-more a:hover {
    background: transparent url(../images/project-readmore-small-spr.png) no-repeat 0px -157px;
    line-height: 157px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  nav.main ul {
    float: none;
    margin: auto;
    width: 200px;
  }
  .contact-info li .left.column {
    margin-right: 10px;
  }
  .contact-info li .right.column {
    margin-left: 10px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  img.five.columns.logo-fs {
    margin: auto 100px;
    width: 220px;
  }
  .contact-info li .column {
    width: 200px;
  }
  nav.main a {
    padding: 5px 0;
  }
  nav.main a:hover {
    background-image: none;
  }
  nav.main li {
    height: auto;
  }

  /*front-page*/
  .illustration {
    background: transparent url(../images/flipside-illustration-small.png) no-repeat;
    height: auto;
  }
  .illustration a {
    margin-top: 227px;
  }
  .front-projects  a {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
  .front-projects a, .front-projects .project a img {
    width: 298px !important;
  }

  /* notes list */
  .notes-list .note-image {
    display: none;
  }

}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /*front page*/
  .illustration {
    background: transparent url(../images/flipside-illustration-thumb.png) no-repeat;
    height: auto;
  }
  .illustration a {
    margin-top: 168px;
  }

  img.five.columns.logo-fs {
    margin: auto 40px;
    width: 220px;
  }
  .contact-info li .column {
    width: 140px;
  }
  nav.main a {
    padding: 5px 0;
  }
  nav.main a:hover {
    background-image: none;
  }
  nav.main li {
    height: auto;
  }
  h1 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 4px;
  }
  
  .about .icon {
    display: none;
  }

  /* notes list */
  .notes-list .note-image {
    display: none;
  }

}
