/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Color reference
	#Site Styles
	#Page Styles
	#Media Queries */

/* #Color reference
================================================== */
/*
/* beige:       #ebebdf
/* orange:      #db562b
/* bright-blue: #54c2db
/* light-blue: 	#698499
/* dark-blue:   #304351

/* #Site Styles
================================================== */

body {
    border-top: 5px #304351 solid;
}

.contact-info {
    background-color: #304351;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding:20px;
}

    .contact-info label {
	color: #54c2db;
	font-weight: normal;
	text-transform: uppercase;
    }
    
    .contact-info li {
	margin-bottom: 20px !important;
    }
    
    .contact-info li .column { /*phone number and email are pseudo grids. They don't stack on smaller screens, instead float. */
	width: 220px;
    }
    
    .contact-info a {
	color: #fff;
	text-decoration: none;
    }

header.page,
div.main,
footer.page {
    padding: 20px 0;
}

header.page,
div.main {
    border-bottom: 1px #ded9c7 solid;
}

div.main,
footer.page {
    border-top: 1px #fff solid;
}

header.page {
    padding-top: 0;
}
    img.logo-fs {
	padding-top: 10px;
    }
    
    nav.main ul {
	float: right;
        margin-bottom: 0;
    }
    
    nav.main li {
	text-align: center;
	width: 100px; /*defining the width since we are not giving a official grid class so menu items float on smaller screen sizes */
    }
    
    nav.main a {
        display: block;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 0;
	padding-top: 30px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
	nav.main a:hover/*,
	nav.main a.active*/ {
            background: transparent url(../images/menu-hover.png) no-repeat center 0;
            color: #304351;
        }

div.main {
}

    .main section {
	margin-bottom: 20px;
    }

    .main section.intro {
	margin-bottom: 42px;
    }


/* #Page Styles
================================================== */

/* Front page */


.front .illustration a {
    background-color: #db562b;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    color: #fff;
    display: block;
    margin-top: 100px;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
}

    .front .illustration a span {
	font-size: 1.4em;
    }

.front .projects a {
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
}

.front article.project a {
    border: 1px #fff solid;
    font-size: 0.9em;
    
    -moz-box-shadow: 0 0 3px 1px #ded9c7;
    -webkit-box-shadow: 0 0 3px 1px #ded9c7;
    box-shadow: 0 0 3px 1px #ded9c7;
}

.front article.project a img {
    height: 198px;
}

.front article.project a:hover img {
    display: none;
}

.front article.project a .description {
    display: none;
}

.front article.project a:hover .description {
    background-color: #698499;
    display: block;
    height: 178px;
    padding: 10px;
    text-decoration: none;
}

.front article.project a .description .center {
    margin-top: 30px;
    text-align: center;
}    

.front article.read-more a {
    background: transparent url(../images/project-readmore.png) no-repeat;
    line-height: 200px; /*same as height parent div*/
    text-align: center;
}

.front article.read-more .description {
}


/* Project pages */

.projects li.project {
    margin-bottom: 60px;
}

.projects li.project img {
    border: 1px #fff solid;
    
    -moz-box-shadow: 0 0 3px 1px #ded9c7;
    -webkit-box-shadow: 0 0 3px 1px #ded9c7;
    box-shadow: 0 0 3px 1px #ded9c7;
}

.projects li.project header,
.projects li.project .description,
.projects li.project footer {
}

.projects li.project header {
    padding-bottom: 28px;
}

.projects li.project .description {
    border-bottom: 1px #ded9c7 solid;
}

.projects li.project footer {
    border-top: 1px #fff solid;
    padding-top: 21px;
}

.projects li.project .sub-title {
    text-transform: uppercase;
}

.projects li.project .metadata {
    font-size: 14px; /*Same as legend*/
}

.projects li.project .project-link {
    margin-top: 21px;
}

.projects li.project .project-link a {
    background: #304351 url(../images/launch.png) no-repeat right;
    color: #ebebdf;
    padding: 5px 50px 5px 10px;
    text-decoration: none;
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	    
	    /*front-page*/
	    .contact-info li .column { width: 172px; }
	    .front .projects article.project a img { height: 155px; }
	    .front .projects article.project a:hover .description { height: 135px; } /*height image -/- 10 10 padding*/
	    .front .projects article.read-more a { background: transparent url(../images/project-readmore-small.png) no-repeat; line-height: 157px; }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	    nav.main ul { float: none; margin: auto; width: 300px; }
	    .front .illustration a { margin: 20px 0; }
	    .contact-info li .left.column { margin-right: 10px; }
	    .contact-info li .right.column { margin-left: 10px; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
            img.five.columns.logo-fs { margin: auto 100px; width: 220px; }
	    .contact-info li .column { width: 200px; }
	    nav.main a { padding: 5px 0; }
	    nav.main a:hover {background-image: none;}
            nav.main li { height: auto; }
	    
	    /*front-page*/
	    .front .projects article a { margin-left: 60px !important; margin-right: 60px !important; }
	    .front .projects article a,
	    .front .projects article.project a img { width: 298px !important; }
        }
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
            img.five.columns.logo-fs { margin: auto 40px; width: 220px; }
	    .contact-info li .column { width: 140px; }
	    nav.main a { padding: 5px 0; }
	    nav.main a:hover {background-image: none;}
            nav.main li { height: auto; }
            h1 { font-size: 28px; line-height: 34px; margin-bottom: 20px; }
            h2 { font-size: 24px; line-height: 30px; margin-bottom: 8px; }
            h3 { font-size: 21px; line-height: 24px; margin-bottom: 4px; }
        }