.flexslider {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    // This value should be the same as the one set on
    // .slides li padding-top
    //margin-top: -200px;
    
    .slides li {
      max-height: 1000px;
      padding-top: 72px;
    }
    
    .flex-control-paging li a {
      background-color: rgba($dark-color,0.3);
      &.flex-active {
        background: #FFF;
      }
    }
    
    .flex-control-nav {
      bottom: 0;
    }
}

/* Direction Nav */
.flex-direction-nav a  {
  background-color: rgba($dark-color,0.3);
  @include border-radius(25px);
  color: #fff;
  display: block;
  height: 2.75rem;
  line-height: 2.75rem;
  margin: 44px 0 0;
  position: absolute;
  text-align: center;
  text-decoration:none;
  top: 50%;
  width: 2.75rem;
  z-index:10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
 
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.flex-direction-nav a:before {
  font-size: 1.5rem;
}
.flex-direction-nav a.flex-prev:before {
  @extend .icon-arr-left;
}
.flex-direction-nav a.flex-next:before {
  @extend .icon-arr-right;
}
.flex-direction-nav .flex-prev { 
  left: -50px; 
}
.flex-direction-nav .flex-next { 
  right: -50px; text-align: center; 
}
.flexslider:hover .flex-prev { 
  opacity: 0.7; left: 10px; 
}
.flexslider:hover .flex-next { 
  opacity: 0.7; right: 10px; 
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { 
  opacity: 1; 
}
.flex-direction-nav .flex-disabled { 
  opacity: 0!important; filter:alpha(opacity=0); cursor: default; 
}
