.flexslider {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    // This value should be the same as the one set on
    // .slides li padding-top
    margin-top: -200px;
    
    .slides li {
      max-height: 500px;
      padding-top: 200px;
    }
    
    .flex-control-paging li a {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.35);
      &.flex-active {
        background: #FFF;
      }
    }
    
    .flex-control-nav {
      bottom: 0;
    }
}

/* Direction Nav */
.flex-direction-nav a  {
  text-decoration:none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index:10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
 
  color: rgba(0,0,0,0.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.flex-direction-nav .flex-prev { 
  left: -50px; 
}
.flex-direction-nav .flex-next { 
  right: -50px; text-align: right; 
}
.flexslider:hover .flex-prev { 
  opacity: 0.7; left: 10px; 
}
.flexslider:hover .flex-next { 
  opacity: 0.7; right: 10px; 
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { 
  opacity: 1; 
}
.flex-direction-nav .flex-disabled { 
  opacity: 0!important; filter:alpha(opacity=0); cursor: default; 
}

.flex-direction-nav a.flex-prev:before  {
  @extend .icon-arr-left;
}
.flex-direction-nav a.flex-next:before {
  @extend .icon-arr-right;
}
