.flexslider {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    // This value should be the same as the one set on
    // .slides li padding-top
    //margin-top: -200px;
    
    .slides li {
      max-height: 1000px;
      padding-top: 72px;
    }
    
    .flex-control-paging li a {
      background-color: rgba($dark-color, 0.3);
      border: none;
      height: 12px;
      width: 12px;
      @include box-shadow(none);
      &.flex-active {
        background: #FFF;
      }
    }
    
    .flex-control-nav {
      height: 12px;
      bottom: 2rem;
      li {
        margin: 0 0.25rem;
      }
    }
}

/* Direction Nav */
.flex-direction-nav {
  li {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    &:last-child {
      right: 0;
      left: auto;
    }
  }
  
}
.flex-direction-nav a  {
  @extend %bttn;
  @extend %bttn-disc;
  @extend %link-primary;
  text-shadow: none;
  top: 0;
  &:active {
    position: absolute;
  }
}
.flex-direction-nav a.flex-prev:before {
  @extend .icon-arr-left;
}
.flex-direction-nav a.flex-next:before {
  @extend .icon-arr-right;
}
.flex-direction-nav .flex-prev { 
  left: -4rem;
  text-align: center;
}
.flex-direction-nav .flex-next { 
  right: -4px;
  text-align: center; 
}
.flexslider:hover .flex-prev { 
  opacity: 1;
  left: 1rem; 
}
.flexslider:hover .flex-next { 
  opacity: 1;
  right: 1rem; 
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { 
  opacity: 0.7; 
}
.flex-direction-nav .flex-disabled { 
  opacity: 0 !important;
  cursor: default; 
}
