/* ==========================================================================
   Helpers - extends + custom vars
   ========================================================================== */

/* Custom variables */

$header-font-family: $body-font-family;
$anchor-font-color: $body-font-color;
$anchor-font-color-hover: $body-font-color;

/* Extends - re-usabe CSS */

.h1 {
	font-size: rem-calc(44);
	line-height: 1.182;
}
.h2 {
	font-size: rem-calc(36);
	line-height: 1.222;
}
.h3 {
	font-size: rem-calc(32);
	line-height: 1.25;
}
.h4 {
	font-size: rem-calc(28);
	line-height: 1.286;
}
.h5 {
	font-size: rem-calc(24);
	line-height: 1.333;
}
.h6 {
	font-size: rem-calc(20);
	line-height: 1.4;
}

.link-button {
  background-color: rgba($primary-color-dark,0.6);
  @include border-radius(15px);
}

/* Generic dropdown styling */
.dropdown {
	a {
		color: #fff;
		display: block;
	}
	ul.links {
		background-color: rgba(0,0,0,0.5);	
		@include border-radius(5px);
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
  	text-align: left;
    z-index: 9999;
		i {
    	display: inline;
			@extend .link-button;
			margin-right: 0.25rem;
    }
	}
}

/* Dropdown with top-arrow */
.dropdown-arrow {
	ul {
		margin-top: 1rem;
		padding: 1rem;
		width: 150px;
	}
	/* implementation of top arrow */
	ul:before {
		content: ' ';
		height: 0;
		position: absolute;
		width: 0;
		border: 10px solid transparent;
		border-bottom-color: rgba(0,0,0,0.5); 
		top: -20px;
		left: 65px; /* (width ul.links / 2) + (width border / 2) */
		z-index: 2;
	}
}