/* ==========================================================================
   Layout - structure the basic layout of the site
   ========================================================================== */

/**
 * DEV - REMOVE OR IMPROVE FOR PROD
 */

.banner,
.cta,
.main-content.front section li {
	background-color: #e6e6e6;
}

/**
 * Contains the basic structure of the site
 */

header.page {
	text-align: center;

	.branding {
		@include grid-column(12);
	}
	nav.primary {
		@include grid-column(12);
	}
	@media #{$medium-up} {
		.branding {
			@include grid-column(4);
			text-align: left;
		}
		nav.primary {
			@include grid-column(8);
			line-height: 60px;
			text-align: right;
		}
	}
}

main {
}

.banner {
	padding-top: 400px;
	margin-top: -400px;
	
	.title,
	.featured {
		@include grid-column(12);
	}
	.filters {
		@include grid-column(12);
		text-align: center;
	}
	@media #{$medium-up} {
		.title,
		.featured {
			@include grid-column(6);
		}
		.featured img {
			max-width: 180%;
		}
	}
}

.main-content {
	article {
		@include grid-column(12);
	}
	aside.main {
		@include grid-column(12);
	}
	&.notes article {
		text-align: center;
	}
	@media #{$medium-up} {
		article.main {
			@include grid-column(8,$push:3);
		}
		aside.main {
			@include grid-column(3,$pull:8);
		}
		&.notes article {
			@include grid-column(8, $offset:2);
		}
	}
}

.main-content.front {
	section {
		text-align: center;
		@include grid-column(12);
	
		ul {
			@include grid-row();
			
			li {
				@include grid-column(12);
			}
		}
	}
	@media #{$medium-up} {
		section.areas-work li {
			@include grid-column(4);
		}
		section.what-we-do li {
			@include grid-column(3);
		}
		section.clients li {
			@include grid-column(2);
			
			&:first-child {
				@include grid-column(2, $offset:1);
			}
		}

	}
}

.cta {
	.invitation {
		@include grid-column(12);
		text-align: center;
	}
	.contact {
		@include grid-column(6,$offset:3);
	}
	@media #{$medium-up} {
		.invitation {
			@include grid-column(6);
			text-align: left;
		}
		.contact {
			@include grid-column(4, $offset:1);
		}
	}
}

footer .credit {
	@include grid-column(12);
	text-align: center;
}