/* ==========================================================================
   Layout
   ========================================================================== */

/**
 * DEV - REMOVE OR IMPROVE FOR PROD
 */

.pre-content,
.pre-footer {
	background-color: #e6e6e6;
}

/**
 * Contains the basic structure of the site
 */

header.page {
	.branding,
	nav.primary,
	.social {
		@include grid-column(12);
	}
}
@media #{$small} {
	header.page {
		.branding {
			@include grid-column(2);
		}
		nav.primary {
			@include grid-column(8);
		}
		.social {
			@include grid-column(2);
		}
	}
}

.main-content {
	article {
		@include grid-column(12);
	}
}

.action {
	background-color: #e6e6e6;
}

.pre-footer {
	.invitation {
		@include grid-column(12);
	}
	.contact {
		@include grid-column(12);
	}
}

footer .credit {
	@include grid-column(12);
}