/* ==========================================================================
   Layout - structure the basic layout of the site
   ========================================================================== */

/**
 * Contains the basic structure of the site
 */

#site-hdr {
  position: relative;
  z-index: 99;
  
	#site-title,
	nav.primary {
		@include grid-column(12);
	}
	#site-title {
		margin: 0;
	}
	@media #{$medium-up} {
		#site-title {
			@include grid-column(4);
		}
		nav.primary {
			@include grid-column(8);
			line-height: 60px;
			text-align: right;
		}
	}
}

.featured {
	.intro,
	.media {
		@include grid-column(12);
	}
	@media #{$medium-up} {
		.intro,
		.media {
			@include grid-column(6);
		}
	}
}

.banner {
	padding-top: 400px;
	margin-top: -400px;
	
	.heading,
	.actions {
		@include grid-column(12);
	}
	.actions {
		ul {
			display: inline-block;
			list-style: none;
			margin: 0;
			text-align: right;
			li {
				float: left;
				&.social-share li {
					float: none;
				}
			}
		}
		i {
			background-color: rgba(0,0,0,0.3);
		    @include border-radius(15px);
		    display: inline-block;
		    height: 30px;
		    line-height: 30px;
		    margin-right: 5px;
		    text-align: center;
		    width: 30px;
		}
	}
	.social-share {
	  .level-one {
	    display:none;
	    position: absolute;
	  }
	  &:hover .level-one { /* Show first level dropdown on hover*/
	    display:block;
	  }
	}
	@media #{$medium-up} {
		.heading,
		.actions {
			@include grid-column(9);
		}
		.actions {
			@include grid-column(3);
    		text-align: right;
		}
	}
}

main {
	.content,
	aside,
	ul.grid-list li {
		@include grid-column(12);
	}
	ul.grid-list {
		list-style: none;
	}
	@media #{$medium-up} {
		.content {
			@include grid-column(8,$push:3);
		}
		aside {
			@include grid-column(3,$pull:8);
		}
		ul.grid-list li {
			@include grid-column(4);

			&:nth-child(3n+1) {
				clear: left;
			}
			header {
				a {
					display: block;
					position: relative;
				}
				h3 {
					background-color: #fff;
					bottom: 0;
					margin: 0;
					max-width: 85%;
					padding-right: 10px;
					position: absolute;
				}
			}
		}
		&.project .image {
			float: right;
			width: 50%;
			img {
				max-width: 130%;
			}
		}
	}
	
	.front {
		section {
			text-align: center;
			@include grid-column(12);
		
			ul {
				@include grid-row();
				list-style: none;
				margin: 0;
				
				li {
					@include grid-column(12);
					float: left;
				}
			}
		}
		@media #{$medium-up} {
			section ul li {
				@include grid-column(3);
			}
		}
	}
}


.contact {
	.follow-us,
	.contact-us {
		@include grid-column(12);
		text-align: center;
	}
	ul {
		list-style: none;
		margin: 0;
		display: inline-block;
		li {
			float: left;
		}
	}
	@media #{$medium-up} {
		.follow-us,
		.contact-us {
			@include grid-column(6);
		}
	}
}

footer {
	.built-by,
	.technology {
		@include grid-column(6);
	}
	.technology {
		text-align: right;
	}
}