/* ==========================================================================
   Layout - structure the basic layout of the site
   ========================================================================== */

/**
 * Contains the basic structure of the site
 */

header.page {
	.branding {
		@include grid-column(12);
	}
	nav.primary {
		@include grid-column(12);
	}
	@media #{$medium-up} {
		.branding {
			@include grid-column(4);
		}
		nav.primary {
			@include grid-column(8);
			line-height: 60px;
			text-align: right;
		}
	}
}

.banner {
	padding-top: 400px;
	margin-top: -400px;
	
	.heading,
	.actions,
	.featured {
		@include grid-column(12);
	}
	.actions ul {
		display: inline-block;
		list-style: none;
		margin: 0;
		text-align: right;
		li {
			float: left;
			&.social-share li {
				float: none;
			}
		}
	}
	.social-share {
	  .level-one {
	    display:none;
	    position: absolute;
	  }
	  &:hover .level-one { /* Show first level dropdown on hover*/
	    display:block;
	  }
	}
	@media #{$medium-up} {
		.heading,
		.actions,
		.featured {
			@include grid-column(6);
		}
	}
}

.main-content {
	.content,
	aside,
	ul.grid-list li {
		@include grid-column(12);
	}
	ul.grid-list {
		list-style: none;
	}
	@media #{$medium-up} {
		.content {
			@include grid-column(8,$push:3);
		}
		aside {
			@include grid-column(3,$pull:8);
		}
		ul.grid-list li {
			@include grid-column(4);
			&:nth-child(3n+1) {
				clear: left;
			}
		}
		&.project .image {
			float: right;
			width: 50%;
			img {
				max-width: 130%;
			}
		}
	}
}

.main-content.front {
	section {
		text-align: center;
		@include grid-column(12);
	
		ul {
			@include grid-row();
			list-style: none;
			margin: 0;
			
			li {
				@include grid-column(12);
				float: left;
			}
		}
	}
	@media #{$medium-up} {
		section ul li {
			@include grid-column(3);
		}
	}
}

.contact {
	.follow-us,
	.contact-us {
		@include grid-column(12);
		text-align: center;
	}
	ul {
		list-style: none;
		margin: 0;
		display: inline-block;
		li {
			float: left;
		}
	}
	@media #{$medium-up} {
		.follow-us,
		.contact-us {
			@include grid-column(6);
		}
	}
}

footer {
	.built-by,
	.technology {
		@include grid-column(6);
	}
	.technology {
		text-align: right;
	}
}