/* ==========================================================================
   Layout
   ========================================================================== */

/**
 * DEV - REMOVE OR IMPROVE FOR PROD
 */

.pre-content,
.cta {
	background-color: #e6e6e6;
}

/**
 * Contains the basic structure of the site
 */

header.page {
	.branding,
	nav.primary,
	.social-nav {
		@include grid-column(12);
	}
	@media #{$medium-up} {
		.branding {
			@include grid-column(2);
		}
		nav.primary {
			@include grid-column(8);
		}
		.social-nav {
			@include grid-column(2);
		}
	}
}

.main-content {
	article {
		@include grid-column(12);
	}
}

.cta {
	.invitation {
		@include grid-column(12);
		text-align: center;
	}
	.contact {
		@include grid-column(6,$offset:3);
	}
	@media #{$medium-up} {
		.invitation {
			@include grid-column(6);
			text-align: left;
		}
		.contact {
			@include grid-column(4, $offset:1);
		}
	}
}

footer .credit {
	@include grid-column(12);
	text-align: center;
}