/* ==========================================================================
   Navs + dropdown
   ========================================================================== */

/* Primary nav styling */

nav#primary {
	@extend .dropdown;
	a {
		height: 60px;
		line-height: 60px;
	}
	.active a {
		color: $light-grey;
	}
	a.toggle {
		text-align: right;
		&:before {
			@extend .icon-menu;
			font-size: 1.25rem;
		}
	}
	@media #{$small-only} {
		ul.links {
			margin-right: ($column-gutter / 2);
    	right: 0;
			a {
				height: auto;
				line-height: 2em;
				padding: 0 5px;
			}
		}
	}
	@media #{$medium-up} {
		.toggle {
			display: none;
		}
		ul.links {
			background-color: transparent;
			display: block !important;	
			float: right;
			position: relative;
		}
		li {
			float: left;
			margin-left: 2rem;
		}
	}
}

