/* ==========================================================================
   Navs + dropdown
   ========================================================================== */

/* Primary nav styling */

#primary {
	@extend .dropdown;
	font-size: 1.25rem;
	line-height: 1.75rem;
	z-index: 130;
	.active a {
		opacity: 0.6;
	}
	.toggle {
		margin-top: -0.25rem;
		height: 2.5rem;
		width: 2.5rem;
		float: right;
		text-align: center;
		z-index: 40;
		&:before {
			display: block;
			text-align: center;
			height: 2.5rem;
			width: 2.5rem;
			line-height: 2.5rem;
			@extend .icon-menu;
			font-size: 2rem;
		}
	}
  .links {
    margin: -0.5rem 1rem 0 0;
    @extend %link-primary;
    left: auto;
    right: 0;
    z-index: 30;
    &:before {
      left: auto;
      right: 0.25rem;
    }
  }
	@media #{$small-only} {
		.links {
			margin-right: ($column-gutter / 2);
    		right: 0;
		}
	}
	@media #{$medium-up} {
		.toggle {
			display: none;
		}
		a {
			line-height: 40px;
		}
		.links {
			background-color: transparent;
			float: right;
			top: auto;
			left: auto;
			margin: 0;
			padding: 0;
			position: relative;
			width: auto;
			opacity: 1;
			visibility: visible;
			@include transition(all 0.2s ease);
			&:before {
				display: none;
			}
			&.visible {
				top: auto;
			}
		}
		li {
			float: left;
			margin-left: 2rem;
		}
	}
}

