/* ==========================================================================
   Navs + dropdown
   ========================================================================== */

/* Primary nav styling */

nav#primary {
	@extend .dropdown;
	a {
		height: 60px;
		line-height: 60px;
	}
	.active a {
		color: $light-grey;
	}
	a.toggle {
		font-size: 1.25rem;
		text-align: right;
	}
	@media #{$small-only} {
		ul.links {
			margin-right: ($column-gutter / 2);
    	right: 0;
			a {
				height: auto;
				line-height: 2em;
				padding: 0 5px;
			}
		}
	}
	@media #{$medium-up} {
		.toggle {
			display: none;
		}
		ul.links {
			background-color: transparent;
			display: block !important;	
			float: right;
			position: relative;
		}
		li {
			float: left;
			margin-left: 2rem;
		}
	}
}

/* Filter + Social share  styling */

li#social-share,
li#filters {
	@extend .dropdown;
	@extend .dropdown-arrow;
	ul.links {
		margin-top: 1rem;
		padding: 1rem;
	}
	li {
		margin-bottom: 0.25rem;
	}
	li:last-child {
		margin-bottom: 0;
	}
}

li#filters {
	a.toggle {
		font-size: 1.25rem;
		line-height: 2.75rem;
		padding: 0 15px;
		width: 150px;
	}
}

li#social-share {
	position: relative;
	ul {
		left: -53px; /* Center the dropdown: -(width a.toggle / 2) - (width i / 2) */
	}
}