/* ==========================================================================
   Styles - generic styles
   ========================================================================== */

dl {
  margin: 0;
}

/* Page styles */

body {
  background-color: $dark-grey;
  line-height: $base-line-height;
}

.banner,
.featured {
  background-color: $primary-blue;
  color: $light-grey;
  a,
  .title,
  i,
  .summary {
    color: #fff;
  }
  .title,
  .section-title {
  }
  .section-title {
    color: $light-grey;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
  }
}

main {
  background-color: #fff;
}

.contact {
  background-color: $mid-grey;
  color: $light-grey;

  h3,
  li,
  a {
    color: #fff;
  }
  li {
    a,
    i {
      display: inline;
    }
  }
}

#site-ftr,
#site-ftr a {
  color: $light-grey;

  .fs {
    color: #ffffff;
  }
}

.visually-hidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}