/* ==========================================================================
   Styles - generic styles
   ========================================================================== */

body {
	line-height: $base-line-height;
}

.main-content {
  &.front section li {
  	list-style: none;
  }
  
  &.notes {
    article {
  		margin-bottom: 2em;
  		margin-top: 2em;
  	}
  	p.intro {
  		margin-bottom: 0.5em;
  	}
  	.metadata {
  		font-style: italic;
  	}
  }
}

.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px;
}