/* ==========================================================================
   Styles - contains the global styles of the site
   ========================================================================== */

/* Custom vars/placeholders */

%rounded {
  border-radius: 500px;
}

%truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}

%bttn {
  @extend %rounded;
  background-color: $primary-color;
  color: #FFF;
  height: 2.75rem;
  line-height: 2.75rem;
  .featured &,
  .banner & {
    background-color: rgba($dark-color, 0.3);
  }
  &:hover {
    color: #FFF;
  }
}

%bttn-capsule {
  padding: 0 1.25rem;
}

%bttn-disc {
  width: 2.75rem;
  text-align: center;
  * {
    @extend .visually-hidden;
  }
  &:before {
    display: block;
    height: 2.75rem;
    line-height: 2.75rem;
    font-size: 1.5rem;
  }
}

%link-primary {
  display: block;
  font-size: 1.25rem;
  text-decoration: none !important;
  font-weight: $body-font-bold;
}

%cta {
  margin-right: -0.25rem;
  display: inline-block;
  // line-height: 1.75rem;
  &:after {
    @extend .icon-arr-tail-right;
    margin-left: 0.5rem;
    font-size: 1rem;
    vertical-align: baseline;
  }
}

/* Generic styles */

a:link,
a:visited {
  @include transition(all .2s ease);
  @include transform(translateZ(0));
  cursor: pointer;
}

a:hover,
a:focus {
  outline: none;
  opacity: 0.7;
}

a:active {
  position: relative;
  top: 2px;
}

.cta-bttn {
  @extend %bttn;
  @extend %bttn-capsule;
  @extend %link-primary;
  @extend %cta;
}

.cta-inline {
  @extend %link-primary;
  @extend %cta;
}

.bttn-dropdown {
  position: relative;
  @extend %bttn;
  @extend %link-primary;
  @extend %truncated;
  padding: 0 2.75rem 0 1.25rem;
  width: 200px;
  &:after {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 0;
    @extend .icon-arr-down;
    display: block;
    height: 2.75rem;
    line-height: 2.75rem;
    font-size: 1rem;
  }
}

.link-disc {
  position: relative;
  @extend %link-primary;
  padding-left: 2.5rem;
  &:before {
    @extend %rounded;
    background-color: $primary-color;
    color: #FFF;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    margin-top: -1rem;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    text-align: center;
    display: block;
  }
}

.link-check {
  position: relative;
  @extend %link-primary;
  @extend %truncated;
  padding-right: 1.75rem;
  line-height: 1.75rem;
  &.active {
    color: tint($primary-color, 30%);
    &:after {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 50%;
      margin-top: -0.5rem;
      @extend .icon-tick;
      display: block;
      font-size: 1rem;
    }
  }
}

.h1 {
  font-size: rem-calc(44);
  line-height: 1.182;
}
.h2 {
  font-size: rem-calc(36);
  line-height: 1.222;
}
.h3 {
  font-size: rem-calc(32);
  line-height: 1.25;
}
.h4 {
  font-size: rem-calc(28);
  line-height: 1.286;
}
.h5 {
  font-size: rem-calc(24);
  line-height: 1.333;
}
.h6 {
  font-size: rem-calc(20);
  line-height: 1.4;
}

dt {
	color: $primary-color;
	font-weight: $body-font-bold;
}

dl {
  margin: 0;
}

.social,
.contact-us,
.share-links {
  a {
    @extend .link-disc;
  }
  .twitter a:before { @extend .icon-twitter; }
  .facebook a:before { @extend .icon-facebook; }
  .google-plus a:before { @extend .icon-google-plus; }
  .github a:before { @extend .icon-github; }
  .flickr a:before { @extend .icon-flickr; }
  .phone a:before { @extend .icon-mobile; }
  .email a:before { @extend .icon-email; }
}

.divider-top {
  border-top: 0.25rem lighten($primary-color, 65%) solid;
  padding-top: 1rem;
}

.divider-bottom {
  border-bottom: 0.25rem lighten($primary-color, 65%) solid;
  padding-bottom: 1rem;
}

/* Generic dropdown styling */
.dropdown {
  a {
    color: #fff;
    display: block;
  }
  ul.links {
    background-color: rgba($dark-color,0.9);	
    @include border-radius(5px);
    display: none;
    left: 50%;
    list-style: none;
    margin: 1rem 0 0 -100px;
    padding: 1.25rem;
    position: absolute;
    text-align: left;
    width: 200px;
    z-index: 9999;
  }
}

/* Dropdown with top-arrow */
.dropdown-arrow {
  ul:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: rgba($dark-color,0.9); 
    top: -20px;
    left: 50%;
    margin-left: -10px; /* equal to border-width */
    z-index: 2;
  }
}

/* Structure + pages */
body {
  background-color: $primary-color;
  line-height: $base-line-height;
}

/* Site header */
#site-hdr {
  position: absolute;
  height: 40px;
  width: 100%;
  top: 2rem;
  left: 0;
  z-index: 99;
  
	#site-title {
		@include grid-column(10);
		margin: 0;
		a {
		  float: left;
			img {
				display: block;
				max-width: 170px;
			}
		}
	}
	#primary {
		@include grid-column(2);
	}
	@media #{$medium-up} {
		#site-title {
			@include grid-column(4);
		}
		#primary {
			@include grid-column(8);
		}
	}
}

/* Banner and feature section */
.banner,
.featured {
	background-color: $primary-color;
  color: #fff;
  a,
  .title,
  .section-title {
    color: #fff;
  }
	.title {
		word-wrap: break-word;
		margin: 0;
	}
  .section-title {
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
    opacity: 0.5;
		position: absolute;
		top: -1.75rem;
		line-height: 1.75rem;
  }
	.row {
		padding-top: 4rem;
	}
}

.featured ul.slides li,
.banner {
	background-image: url(../images/illu-stripe-lg.svg);
	background-position: bottom right;
	background-repeat: no-repeat;
}

/* Featured section */
.featured {
	.prose,
	.media {
		@include grid-column(12);
	}
	.prose {
    	padding-bottom: 2rem;
    	.title {
    	  margin-bottom: 1.75rem;
    	}
    	.summary {
    	  font-size: 1.5rem;
    	  margin-bottom: 1.75rem;
    	}
	}
	@media #{$medium-up} {
		.prose {
			@include grid-column(6);
		}
		.media {
			@include grid-column($columns: 5, $offset: 1);
      min-height: 432px;
		}
		.prose {
			padding-top: 4.75rem;
			.section-title {
				top: 3rem; // padding-top of prose - line-height of section-title
			}
			
		}
	}
}

/* Banner */
.banner {
	padding-top: 72px;
	padding-bottom: 3rem;
	margin-bottom: 2rem;

	.heading,
	.actions {
		@include grid-column(12);
	}
	.actions {
		margin-top: 2rem;
  }
  @media #{$medium-up} {
  margin-bottom: 4rem;
    .heading,
    .actions {
      @include grid-column(9);
    }
    .actions {
      @include grid-column(3);
      margin-top: 0;
      padding-bottom: 0.25rem;
      padding-top: 0.25rem;
    }
  }
}

/* Action bar */
.actions {
  .next,
  .previous,
  .feed,
  .share {
    @extend %bttn;
    @extend %bttn-disc;
    @extend %link-primary;
  }
  .filter {
    @extend .bttn-dropdown;
  }
  .share:before { @extend .icon-share; }
  .feed:before { @extend .icon-feed; }
  .previous:before { @extend .icon-arr-tail-left; }
  .next:before { @extend .icon-arr-tail-right; }
  ul {
    list-style: none;
    margin: 0;
  }
  &>ul {
  	display: inline-block;
    @media #{$medium-up} {
      float: right;
      text-align: left;
    }
  }
  &>ul>li {
    float: left;
    margin-right: 0.25rem;
    &:last-child {
      margin-right: 0; 
    }
  }
  .inactive {
    opacity: 0.3;
    cursor: default;
  }

  /* Filter + Social share  styling */
  #social-share,
  #filters {
    position: relative;
    @extend .dropdown;
    @extend .dropdown-arrow;
    li {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  #social-share {
    float: right;
    margin-left: 0.25rem;
    @media #{$medium-up} {
      float: left;
      margin-left: 0;
    } 
  }

  #filters {
    width: 200px;
    .links a {
      @extend .link-check;
    }
  }
  
}

/* Main content area */

main {
  background-color: #fff;
	padding-bottom: 2rem;

	.content,
	aside {
		@include grid-column(12);
	}
  .front,
  .content {
    a {
      text-decoration: underline;
    }
  }
  .content {
    .media-wrapper {
      margin: 1.25rem 0;
      figure {
        background: #FFF;
        border: 4px solid tint($primary-color, 90%);
        border-radius: 0.25rem;
        text-align: center;
        padding: 1rem;
        img {
          display: block;
        }
      }
      figcaption {
        background: tint($primary-color, 90%);
        padding: 1rem;
        margin: 1rem -1rem -1rem -1rem;
        color: $light-color;
      }
    }
  }
	aside {
		h1 {
			@extend .h5;
		}
		a {
		  display: block;
			font-weight: $body-font-bold;
		}
		.media {
		  float: left;
		  margin-right: 0.75rem;
			width: 3.5rem;
  		img {
  			@include border-radius(2rem);
  			display: block;
  		}
		}
		.teaser {
			display: table-cell;
			width: 100%;
			h1 {
				font-size: 1rem;
				margin: 0;
			}
			p.meta {
				font-weight: normal;
			}
		}
	}

	@media #{$medium-up} {
		padding-bottom: 4rem;
		.content {
			@include grid-column(8,$push:3);
			.media-wrapper {
				float: right;
				margin-left: 3%;
				margin-top: 0;
				overflow: visible;
				width: 47%;
				figure {
					width: 160%;
				}
				img {
					width: auto;
				}
			}
		}
		aside {
			@include grid-column(3,$pull:8);
		}
		article.no-sidebar .content {
			@include grid-column(8,$push:0,$offset:2);
		}
	}
}

/* Frontpage */

.front {
	padding-top: 2rem;
	section {
		text-align: center;
		@include grid-column(12);
	
		ul {
			@include grid-row();
			list-style: none;
			margin: 0;
			
			li {
				@include grid-column(12);
				float: left;
			}
		}
		
		&.what-we-do {
			h1 {
				@extend .h5;
				margin-top: 0;
				margin-bottom: 1rem;
			}
			
      .img-wrapper {
        margin: 0 auto 1.75rem;
        max-width: 200px;
      }
			img {
				width: 100%;
				height: auto;
				display: block;
			}
			ul {
  			margin-bottom: 2rem;
			}
		}
	}
  .tag-line {
    margin-bottom: 2rem;
    p {
      font-size: 1.25rem;
      line-height: 1.75rem;
      color: $light-color;
    }
  }
	@media #{$medium-up} {
		padding-top: 4rem;
		.tag-line {
			@include grid-column(6,$offset:3);
		}
		section ul li {
			@include grid-column(3);
		}
	}
}

/* About page */

.about .content img {
	float: right;
	margin-left: 2rem;
	@media #{$medium-up} {
		margin-left: 4rem;
	}
}
.about .content h2:not(:first-child) {
	@extend .divider-top;
	margin-top: 2rem;
	padding-top: 2rem;
}

/* The note and project hubs */

ul.hub {
	list-style: none;

	li {
		@include grid-column(12);
		margin-bottom: 2rem;
	}
	article {
		@extend .divider-bottom;
		> :last-child {
  		  margin-bottom: 0;
		}
	  h1 {
	    @extend .h5;
	    background-color: #fff;
	  }
		header {
      margin-bottom: 0.75rem;
			a {
				display: block;
				position: relative;
			}
			h1 {
        border-radius: 0 4px 0 0;
        left: 0;
        z-index: 10;
        bottom: 0;
        margin: 0;
        max-width: 85%;
        padding: 0.5rem 1rem 0 0;
        position: absolute;
        word-wrap: break-word;
      }
      img {
        border-radius: 4px;
        display: block;
      }
    }
    .metadata {
      line-height: 1.75rem;
      color: $light-color;
      overflow: hidden;
      margin-bottom: 0.75rem;
      .date,
      .work {
        position: relative;
        float: left;
        padding-left: 1.5rem;
        line-height: 1.75rem;
        &:before {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          z-index: 1;
          height: 1.75rem;
          line-height: 1.75rem;
        }
      }
      .date:before { @extend .icon-clock; }
      .work:before { @extend .icon-briefcase; }
    }
	  .category {
	    background-color: tint($primary-color, 90%);
	    @extend %rounded;
	    display: block;
	    float: right;
	    margin-left: 0.25rem;
	    padding: 0 0.75rem;
	    color: int($primary-color, 20%);
	  }
	  .intro {
      margin-bottom: 0.75rem;
	  }
	}

  @media #{$medium-up} {
		li {
			@include grid-column(4);

			&:nth-child(3n+1) {
				clear: left;
			}
		}
	}
}

/* Related content */

.related-content {
	@extend .divider-top;
	margin-top: 1rem;
	ul {
		list-style: none;
		margin: 0;
	}
}

/* Content section */

.contact {
  background-color: tint($primary-color, 10%);
  .contact-us {
    margin-bottom: 2rem;
  }
	.follow-us,
	.contact-us {
    @include grid-column(12);
    margin-top: 2rem;
	}
	ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 0 0.5rem 0;
    }
  }
  h1,
  li,
  a {
    color: #fff;
  }
  h1 {
    @extend .h3;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: tint($primary-color, 60%);
  }
	@media #{$medium-up} {
		.follow-us,
		.contact-us {
			@include grid-column(6);
			text-align: center;
		}
		ul {
			display: inline-block;
			li {
				float: left;
				margin: 0 1rem 0.5rem 1rem;
			}
		}
	}
}

#site-ftr,
#site-ftr a {
  color: tint($primary-color, 60%);
}

#site-ftr {
  padding-top: 20px;

	.built-by,
	.technology {
		@include grid-column(6);
	}
	.technology {
		text-align: right;
	}
  a,
  .fs {
    font-weight: bold;
  }
  .fs {
    color: #ffffff;
  }
}

.lt-ie9 {
  body {
    background: none repeat scroll 0 0 $primary-color;
  }

  #site-canvas {
    display: none;
  }

  #nocando {
    margin: 200px auto;
    padding: 0 20px;
    width: 440px;
    color: white;
  
    h1 {
      color: inherit;
      line-height: 1.1;
      margin-bottom: 40px;
    }
  
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}