/* ==========================================================================
   Styles - contains the global styles of the site
   ========================================================================== */

body {
  background-color: $primary-color;
  line-height: $base-line-height;
}

/* Site header */

#site-hdr {
  position: relative;
  z-index: 99;
  
	#site-title {
		@include grid-column(10);
		margin: 0;
	}
	nav#primary {
		@include grid-column(2);
	}
	@media #{$medium-up} {
		#site-title {
			@include grid-column(4);
		}
		nav#primary {
			@include grid-column(8);
		}
	}
}

/* Banner and feature section */

.banner,
.featured {
  background-color: $primary-color;
  color: #fff;
  a,
  .title {
    color: #fff;
  }
  .read-more {
  	margin-bottom: 4rem;
  	a {
    	@extend .link-button;
    	padding: 0.25rem 1rem;
  	}
	}
	.title {
		margin: 0;
	}
  .section-title {
    color: $light-grey;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
		position: absolute;
		top: -1rem;
  }
	.row {
		padding-top: 2rem;
	}
}

.featured {
	.prose,
	.media {
		@include grid-column(12);
	}
	@media #{$medium-up} {
		.prose,
		.media {
			@include grid-column(6);
		}
	}
}

.banner {
	padding-top: 400px;
	padding-bottom: 2rem;
	margin-top: -400px;
	margin-bottom: 2rem;

	.heading,
	.actions {
		@include grid-column(12);
	}
	.actions {
		margin-top: 2rem;

    ul {
      list-style: none;
      margin: 0;
      text-align: center;
      @media #{$medium-up} {
        float: right;
        text-align: left;
      }
    }
    &>ul>li {
      background-color: rgba($primary-color-dark,0.6);
      @include border-radius(1.375rem);
      display: inline-block;
      float: none;
      margin-right: 0.25rem;
      &:last-child {
        margin-right: 0;
      }
      @media #{$medium-up} {
        float: left;
      }
    }
    i {
      display: block;
      font-size: 1.5rem;
      line-height: 2.75rem;
      text-align: center;
      width: 2.75rem;
    }
    ul.links i {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
    a.inactive {
    	color: $light-grey;
    }
    #filters {
	    .active i {
	    	background-color: transparent;
	      float: right;
	      text-align: right;
	    }
	    li.active {
	    	color: $light-grey;
	    }
	  }
  }

	@media #{$medium-up} {
	margin-bottom: 4rem;
		.heading,
		.actions {
			@include grid-column(9);
		}
		.actions {
			@include grid-column(3);
			margin-top: 0;
			padding-bottom: 0.25rem;
			padding-top: 0.25rem;
		}
	}
}

/* Main content area */

main {
  background-color: #fff;
	padding-bottom: 2rem;

	.content,
	aside {
		@include grid-column(12);
	}
  .front,
  .content {
    a {
      text-decoration: underline;
    }
  }
	.content {
		.media-wrapper {
			margin: 1.25rem 0;
			figure {
				background-color: $light-grey;
				padding: 0.25rem;
				text-align: center;
			}
		}
	}
	@media #{$medium-up} {
		padding-bottom: 4rem;
		.content {
			@include grid-column(8,$push:3);
			.media-wrapper {
				float: right;
				margin-left: 3%;
				margin-top: 0;
				overflow: visible;
				width: 47%;
				figure {
					width: 160%;
				}
				img {
					width: auto;
				}
			}
		}
		aside {
			@include grid-column(3,$pull:8);
		}
	}
	
	.front {
		section {
			text-align: center;
			@include grid-column(12);
		
			ul {
				@include grid-row();
				list-style: none;
				margin: 0;
				
				li {
					@include grid-column(12);
					float: left;
				}
			}
		}
		@media #{$medium-up} {
			section ul li {
				@include grid-column(3);
			}
		}
	}
}

/* The note and project hubs */

ul.hub {
	list-style: none;

	li {
		@include grid-column(12);
		margin-bottom: 2rem;
	}
	article {
	  border-bottom: 2px $light-grey solid;
	  h1 {
	    @extend .h5;
	    background-color: #fff;
	  }
		header {
			a {
				display: block;
				position: relative;
			}
			h1 {
				bottom: 0;
				margin: 0;
				max-width: 85%;
				padding-right: 10px;
				position: absolute;
			}
		}
		.metadata {
			margin-top: 1.25rem;
			i {
				margin-right: 0.5rem;
			}
		}
	  .category {
	    background-color: rgba(0, 0, 0, 0.1);
	    border-radius: 10px;
	    display: block;
	    float: right;
	    margin-left: 5px;
	    padding: 0 10px;
	  }
	  p.read-more i {
	  	margin-left: 0.5rem;
	  }
	}

  @media #{$medium-up} {
		li {
			@include grid-column(4);

			&:nth-child(3n+1) {
				clear: left;
			}
		}
	}
}

/* Content section */

.contact {
  background-color: $secondary-color;
  color: $light-grey;
  .contact-us {
  	margin-bottom: 2rem;
  }
	.follow-us,
	.contact-us {
		@include grid-column(12);
		margin-top: 2rem;
	}
	ul {
		list-style: none;
		margin: 0;
	}
  h3,
  li,
  a {
    color: #fff;
  }
  i {
    @extend .link-button;
    padding: 0.25rem;
    margin-right: 0.25rem;
  }
	@media #{$medium-up} {
		.follow-us,
		.contact-us {
			@include grid-column(6);
			text-align: center;
		}
		ul {
			display: inline-block;
			li {
				float: left;
				margin-left: 1rem;
			}
			li:first-child {
				margin-left: 0;
			}
			i {
    		padding: 0.25rem;
			}
		}
	}
}

#site-ftr,
#site-ftr a {
  color: $light-grey;
}

#site-ftr {
  padding-top: 20px;

	.built-by,
	.technology {
		@include grid-column(6);
	}
	.technology {
		text-align: right;
	}
  a,
  .fs {
    font-weight: bold;
  }
  .fs {
    color: #ffffff;
  }
}


/* Generic styles */

dl {
  margin: 0;
}

.user-thumb {
  @include border-radius(200px);
  float: left;
  margin-right: 10px;
  width: 50px;
}