/* ==========================================================================
   Styles - generic styles
   ========================================================================== */

/* Page styles */

body {
  background-color: $primary-color;
  line-height: $base-line-height;
}

.banner,
.featured {
  background-color: $primary-color;
  color: #fff;
  margin-bottom: 40px;
  a,
  .title {
    color: #fff;
  }
  a.read-more {
    @extend .link-button;
    padding: 5px 15px;
  }
  .section-title {
    color: $light-grey;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
  }
}

.banner {
  .actions {
    ul {
      float: right;
      list-style: none;
      margin: 0;
    }
    &>ul>li {
      background-color: rgba($primary-color-dark,0.6);
      @include border-radius(1.375rem);
      float: left;
      margin-right: 0.25rem;
      &:last-child {
        margin-right: 0;
      }
    }
    i {
      display: block;
      font-size: 1.5rem;
      line-height: 2.75rem;
      text-align: center;
      width: 2.75rem;
    }
    ul.links i {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
    a.active-cat i {
      float: right;
      text-align: left;
    }
  }
}

main {
  background-color: #fff;
  padding-bottom: 40px;
  .front,
  .content {
    a {
      text-decoration: underline;
    }
  }
  .grid-list article {
    border-bottom: 2px $light-grey solid;
    .category {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      display: block;
      float: right;
      margin-left: 5px;
      padding: 0 10px;
    }
  }
}

.contact {
  background-color: $secondary-color;
  color: $light-grey;
  padding: 30px 0;

  h3,
  li,
  a {
    color: #fff;
  }
  i {
    @extend .link-button;
  }
}

#site-ftr,
#site-ftr a {
  color: $light-grey;
}

#site-ftr {
  padding-top: 20px;
  a,
  .fs {
    font-weight: bold;
  }
  .fs {
    color: #ffffff;
  }
}

/* Generic styles */

dl {
  margin: 0;
}

.user-thumb {
  @include border-radius(200px);
  float: left;
  margin-right: 10px;
  width: 50px;
}

.visually-hidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}