---
layout: default
notes_active : true

permalink: notes/index.html
---

<ul class="notes-list">
  {% for post in site.categories.note %}
  
    {% assign class = '' %}
    {% if forloop.first %}
       {% assign class = 'first' %}
    {% endif %}
    
    {% if forloop.last %}
       {% assign class = 'last' %}
    {% endif %}
    
    {% if forloop.last and forloop.first %}
       {% assign class = 'first last' %}
    {% endif %}
    
    <li class="note {{ class }} odd clearfix">

      <div class="note-image four columns alpha">
        <img class="border four columns alpha omega" src="/images/notes/{{ post.image }}" />
      </div>
      
      <article class="note {{ class }} twelve columns omega">
        <header>
          <h3>
          	<a href="{{ post.url }}">{{ post.title }}</a>
          </h3>
          <div class="sub-title metadata">{{ site.users[post.user].name }} - {{ post.date | date: "%d %B %Y" }}</div>
        </header>
        
        {{ post.content | truncatewords: 25  }} <a href="{{ post.url }}">read more</a>
        
      </article>

    </li>
  {% unless forloop.last %}
    <hr class="divider" / >
  {% endunless %}
{% endfor %}
</ul>