---
layout: default
permalink: projects/index.html
---
<section class="intro">
	<h3 class="slogan">At Flipside we work closely with our clients to create appropriate and usable solutions.</h3>
	Below we have listed some examples of our work.
</section>

<ul class="project-list">
{% for post in site.categories.project %}

    {% assign class = '' %}
    {% if forloop.first %}
       {% assign class = 'first' %}
    {% endif %}
    
    {% if forloop.last %}
       {% assign class = 'last' %}
    {% endif %}
  
	<li class="project {{ class }} odd clearfix">
		<div class="project-image nine columns alpha">
			<img class="border nine columns alpha omega" src="/images/projects/{{ post.image }}" />
		</div>
		<article class="six columns omega offset-by-one">
			<header>
			  <a name="{{ post.anchor }}"></a>
				<h3>{{ post.title }}</h3>
				<h4 class="sub-title metadata">{{ post.meta }}</h4>
			</header>
			<div class="description">
			  {{ post.content }}
			</div>
			<hr class="divider" />
			<footer>
				{% if post.client %}<label class="inline">Client:</label> <span class="metadata">{{ post.client }}</span><br/>{% endif %}
				<label class="inline">Technology:</label> <span class="metadata">{{ post.technology }}</span><br/>
				{% if post.project_link %}
  				<div class="project-link">
  					<a href="{{ post.project_link.href }}">{{ post.project_link.text }}<span class="entypo">&#128279;</span></a>
  				</div>
				{% endif %}
			</footer>
		</article>
	</li>
  	{% unless forloop.last %}
    	<hr class="divider" / >
  	{% endunless %}
{% endfor %}
</ul>