    <div class="contact">
      <div class="row">
        <div class="follow-us">
          <h3>Follow us</h3>
          <p>If you want to stay up to date about our work, make sure to check us out elsewhere as well.</p>
          <ul class="social">
            <li class="twitter"><a href="http://twitter.com/flipside_org">Twitter</a></li>
            <li class="github"><a href="http://github.com/flipside-org">Github</a></li>
            <li class="flickr"><a href="http://flickr.com/photos/flipside-org">Flickr</a></li>
          </ul>
        </div>
        <div class="contact-us">
          <h3>Contact us</h3>
          <p>Want to talk about a project or have a question or suggestion? We'd love to hear from you.</p>
          <ul class="contact-info">
            <li class="phone"><a href="tel:+351926526465">+351 926 526 465</a></li>
            <li class="email"><a href="mailto:info@flipside.org">info@flipside.org</a></li>
          </ul>
        </div>
      </div>
    </div>