<meta property="og:site_name" content="Flipside" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:url" content="{{ site.domain }}{{ page.url }}" />
{% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
{% else %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords: 40 }}" >
{% endif %}
{% if page.category == "note" %}
  <meta property="og:image" content="{{ site.domain }}/images/notes/{{ page.image }}" />
{% elsif page.category == "project" %}
  <meta property="og:image" content="{{ site.domain }}/images/projects/{{ page.image }}" />
{% else %}
  <meta property="og:image" content="{{ site.domain }}/meta/og-image.png" />  
{% endif %}