<meta property="og:site_name" content="Flipside" />
{% if page.category == "note" || "project" %}
  <meta property="og:type" content="article" />
{% else %}
  <meta property="og:type" content="website" />
{% endif %}
<meta property="og:title" content="{{ page.title }} - Flipside" />
<meta property="og:url" content="{{ site.domain }}{{ page.url }}" />
{% if page.description %}
  <meta property="og:description" content="{{ page.description }}" />
{% elsif page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords: 40 }}" >
{% else %}
  <meta property="og:description" content="{{ site.data.flipside.description }}" >
{% endif %}
{% if page.category == "note" %}
  <meta property="og:image" content="{{ site.domain }}/images/notes/{{ page.image }}" />
{% elsif page.category == "project" %}
  <meta property="og:image" content="{{ site.domain }}/images/projects/{{ page.image }}" />
{% endif %}
<meta property="og:image" content="{{ site.domain }}/images/meta/og-image.png" />  