<li id="filters">
	<a href="#" class="toggle filter active">
		{% if include.active_filter %}
			{% for filter in site.categories.filter %}
				{% if filter.filter_name == include.active_filter %}
	  			{{ filter.title }}
	  		{% endif %}
	  	{% endfor %}
		{% else %}
  		All notes
		{% endif %}
	</a>
	<ul class="links">
    <li>
	{% if include.active_filter %}
	  	<a href="/notes">All notes</a>
	{% else %}
    <a href="/notes" class="active">All notes</a>
	{% endif %}	
    </li>
	{% for filter in site.categories.filter %}
  <li>
	  {% if filter.filter_name == include.active_filter %}
	  
	  	<a href="{{ filter.url }}" class="active">{{ filter.title }}</a>
	  {% else %}
	  	<a href="{{ filter.url }}">{{ filter.title }}</a>
	  
	  {% endif %}
	  </li>
	{% endfor %}
	</ul>
</li>