<nav id="primary" role="navigation">
	<a href="#nav-links" class="toggle"><span class="visually-hidden">Menu</span></a>
	<ul class="links" id="nav-links">
    {% if page.active_menu == 'home' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
			<a href="/">Home</a>
		</li>
		{% if page.active_menu == 'projects' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
			<a href="/projects/">Projects</a>
		</li>
		{% if page.active_menu == 'notes' %}
		<li class="active">
		{% else %}
		<li>
		{% endif %}
			<a href="/notes/">Notes</a>
		</li>
		{% if page.active_menu == 'about' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
			<a href="/about/">About</a>
		</li>
		{% if page.active_menu == 'contact' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
			<a href="/contact/">Contact</a>
		</li>
	</ul>
</nav>