<li>
  <article>
    {% if include.active_filter %}
      {% capture url %}{{ include.note.url }}#{{ include.active_filter }}{% endcapture %}
    {% else %}
      {% capture url %}{{ include.note.url }}{% endcapture %} 
    {% endif %}
    
    {% assign filter_list = '' %}
    {% for filter in include.note.filters %}
      {% capture filter_list %}{{filter_list}}<span class="category">{{ filter | capitalize }}</span>{% endcapture %}
    {% endfor %}

    <header>
      <a href="{{ url }}">
        {% image list notes/{{ include.note.image }} %}
        <h3>
          {{ include.note.title }}
        </h3>
      </a>
    </header>
    <p class="metadata">{{ include.note.date | date: "%d %b. %Y" }}{{ filter_list }}</p>
    <p class="intro">
      {{ include.note.excerpt | strip_html | truncatewords: 40 }}
    </p>
    <p><a href="{{ url }}">Read more<i class="icon-twitter"></i></a></p>
  </article>
</li>