{% assign related_notes_code = '' %}
{% assign related_projects_code = '' %}

{% for post in site.posts %}
  {% assign loop_breaker = false %}
  {% for PAGE_related_keyword in page.related_post %}
    {% unless loop_breaker %}
    
      {% if post.related_post contains PAGE_related_keyword %}
        {% assign loop_breaker = true %}
        {% unless post.url == page.url %}
        
          {% if post.category == 'note' %}      
            {% capture related_notes_code %}{{related_notes_code}}
              <li>
                <article>
                  <a href="{{ post.url }}">
                    <div class="media">
                      {% image thumb notes/{{ post.image }} %}
                    </div>
                    <div class="teaser">
                      <h1>{{ post.title }}</h1>
                      <p class="meta"><em>Under</em> Notes</p>
                    </div>
                  </a>
                </article>
              </li>
            {% endcapture %}
          {% elsif post.category == 'project' %}
            {% capture related_projects_code %}{{related_projects_code}}
                <li>
                  <article>
                    <a href="{{ post.url }}">
                      <div class="media">
                        {% image thumb projects/{{ post.image }} %}
                      </div>
                      <div class="teaser">
                        <h1>{{ post.title }}</h1>
                        <p class="meta"><em>Under</em> Projects</p>
                      </div>
                    </a>
                  </article>
                </li>
            {% endcapture %}
          {% endif %}        
        {% endunless %}
      {% endif %}
      
    {% endunless %}
  {% endfor %}
{% endfor %}


{% unless related_notes_code == '' AND related_projects_code == '' %}
      <section class="related-content">
        <h1>Related content</h1>
        <ul class="bfc-objects">
          {{related_notes_code}}
          {{related_projects_code}}
        </ul>
      </section>
{% endunless %}