<section class="featured">
	<h1 style="display: none">Featured</h1>
	<div class="flexslider" style="overflow: hidden">
  	<ul class="slides">
      {% for post in site.posts %}
      {% if post.featured == true %}
      {% if post.background_color %}
      <li style="background-color: #{{ post.background_color }}; overflow: hidden;">
      {% else %}
      <li style="overflow: hidden;">
      {% endif %}
        <article class="row">
          <div class="prose">
            <h1 class="title"><a href="{{ site.domain }}{{ post.url }}">{{ post.title }}</a></h1>
            <h2 class="section-title"><em>Under</em> {{ post.category | capitalize }}</h2>
            <p class="summary">{{ post.excerpt | strip_html | truncatewords: 24 }}</p>
            <p class="read-more"><a href="{{ site.domain }}{{ post.url }}" class="cta-button">Read more</a></p>
          </div>
          <div class="media">
            <figure class="img-set"> 
              {% if post.featured_image.mobile %}
                <div class="img-wrapper mobile">
                    <img src="images/{{post.featured_image.mobile}}" width="640" height="960" />
                </div>
              {% endif %}
              {% if post.featured_image.desktop %}
                <div class="img-wrapper desktop">
                    <img src="images/{{post.featured_image.desktop}}" width="1440" height="900" />
                </div>
              {% endif %}
              {% if post.featured_image.polaroid %}
                <div class="img-wrapper polaroid">
                    <img src="images/{{post.featured_image.polaroid}}" width="760" height="680" />
                </div>
              {% endif %}
            </figure>
          </div>
        </article>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>