<link rel="stylesheet" href="/css/base.css" type='text/css'>
<link rel="stylesheet" href="/css/skeleton.css" type='text/css'>
<link rel="stylesheet" href="/css/layout.css" type='text/css'>
<link rel="stylesheet" href="/css/pygments.css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/images/favicon.ico">
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/scripts/flipside.js" type="text/javascript"></script>