<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@flipside_org">
<meta name="twitter:creator" content="{{ page.twitter_card.author }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ post.description }}">
{% if page.category == "note" %}
	{% assign image_path = "/images/notes/" %}
{% endif %}
{% if page.category == "project" %}
	{% assign image_path = "/images/projects/" %}
{% endif %}
<meta name="twitter:image" content="{{ image_path }}{{ page.image }}">