---
layout: note_list
permalink: notes/work/
category: filter

filter_name: work
---
{% comment %}
  There is nothing to do in this file. The code related to the rendering of
  each individual note in the list is in the include note_list_element.
  Code related to the wrapper of that list is inside the layout notes_list.
  
  Note: The code for a list with and without filters applied is the same.
  The only difference is an active class in the filter's menu.
  
  Note: The content for each filter is exactly the same.
{% endcomment %}

{% for note in site.categories.note %}
  {% if note.filters contains page.filter_name %}
    {% include note_list_element.html note=note active_filter=page.filter_name %}
  {% endif %}
{% endfor %}