---
layout: base
twitter_card: true
facebook_og: true
---
{% if page.featured_image %}
<div class="banner">
  <div class="row">
      <h1>{{ page.title }}</h1>
      <img src="/images/notes/{{ page.featured_image }}" class="featured" />
    </div>
</div>
<div class="main-content">
  <div class="row">
    <article class="main">
      {{ content }}
    </article>
{% else %}
<div class="main-content">
  <div class="row">
    <article class="main">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </article>
{% endif %}
    <aside class="main">
    {% if page.meta %}
      <span class="label">Type:</span> <span class="value">{{ page.meta }}</span>
    {% endif %}
    {% if page.client %}
      <span class="label">Client:</span> <span class="value">{{ page.client }}</span>
    {% endif %}
    {% if page.technology %}
      <span class="label">Technology:</span> <span class="value">{{ page.technology }}</span>
    {% endif %}
    {% if page.keywords %}
      <span class="label">Keywords:</span> <span class="value">{{ page.keywords }}</span>
    {% endif %}
    {% if page.project_link.href %}
      <span class="label">URL:</span> <span class="value"><a href="{{ page.project_link.href }}">{{ page.project_link.href }}</a></span>
    {% endif %}
    </aside>
  </div>
</div>

{% comment %}
  Navigation links for case studies can be rendered differently from notes
  since they don't need filters.
  To render these links we just loop through the posts array and find the
  case study before and after.
{% endcomment %}

{% assign break_cicle = false %}

{% assign previous_case_study = false %}
{% assign next_case_study = false %}
{% assign current_found = false %}

{% for post in site.categories.case_study %}
  {% unless break_cicle %}

    {% if current_found %}
    
      {% assign next_case_study = post %}
      {% assign break_cicle = true %}
      
    {% else %}
    
      {% if page.url == post.url %}
        {% assign current_found = true %}
      {% else %}
        {% assign previous_case_study = post %}
      {% endif %}
      
    {% endif %}
    
  {% endunless%}

{% endfor%}

{% unless previous_case_study == false %}
  <a href="{{ previous_case_study.url }}">Previous case study</a><br />
{% else %}
  There's no previous case study.<br/>
{% endunless%}

{% unless next_case_study == false %}
  <a href="{{ next_case_study.url }}">Next case study</a><br />
{% else %}
  There's no next case study.
{% endunless%}
