<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Flipside</title>
  <meta name="description" content="Flipside builds web-based communication tools using Open Source tools.">
  <meta name="author" content="Flipside">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {% include style_script.html %}
</head>
<body>
  <div class="contact-info">
    <ul class="container">
      <li class="four columns offset-by-four"><label class="above">Address</label>Avenida de Liberdade 229, 2º<br/>1250-142 Lisboa, Portugal</li>
      <li class="eight columns">
        <div class="left column alpha"><label class="above">Phone</label>+351 926 526 465</div>
        <div class="right column omega"><label class="above">Email</label><a href="mailto:info@flipside.org">info@flipside.org</a></div>
      </li>
    </ul>
  </div>
  <div class="container">
    <header class="page sixteen columns">  
      <a href="/" title="Home Flipside" class="five columns alpha"><img src="/images/logo-flipside.png" alt="Flipside" title="Flipside" class="logo-fs five columns alpha"/></a>
      <nav class="main omega">
            <ul class="clearfix">
              <li class="columns alpha"><a href="/about/" class="about">About</a></li>
              <li class="columns"><a href="/projects/" class="work">Work</a></li>
              <li class="columns"><a href="/notes/data-collection-with-airwolf/" class="notes">Notes</a></li>
              <li class="columns omega"><a href="#" id="contactlink" class="contact show_hide">Contact</a></li>
            </ul>
      </nav>
    </header>
    <hr class="divider sixteen columns" />
    <div class="main sixteen columns" role="main">
      {{ content }}
    </div>
    <hr class="divider sixteen columns" />
    <footer class="page sixteen columns">
      &nbsp;
    </footer>
  </div>
  
  {% include ga.html %}
</body>
</html>