---
layout: base
title : Flipside
---
{% comment %}
  This layout contains the code for the index page.
  Whenever we want a post not to have a page we set
  it permalink to index.html and use this layout.
  It's some kind of black hole where posts go to die,
  or a /dev/null if you prefer. :)
{% endcomment %}

<section>
	<h1 style="display: none">Featured</h1>
	<div class="flexslider">
  	<ul class="slides">
  	  
  	 <li style="background-color: #314879;">
  	   
    	 	 <article class="row">
    	 		 <div class="large-6 columns">
    	 			 <hgroup>
    	 				 <h2>Note</h2>
    	 				 <h1>Lisbon Open data maker night III</h1>
    	 			 </hgroup>
    	 			 <p>Lorem ipsum...</p>
    	 		 </div>
    	 		 <div class="large-6 columns">
             <div style="background-color: #880000; max-width: 160%; width: 160%;">
    	 		     <img src="images/projects/macgyver-med.png" alt="Incendios" style="width: 70%;" />
    	 		     <img src="images/projects/incendios-thumb.png" alt="Incendios" style="width: 30%; margin-top: -200px"/>
    	 		   </div>
    	 		 </div>
    	 	 </article>
  	 	
  	 </li>
  	 
  	 <li style="background-color: #C45B3E;">
  	   
    	 	 <article class="row">
    	 		 <div class="small-6 columns">
    	 			 <hgroup>
    	 				 <h2>Note</h2>
    	 				 <h1>Lisbon Open data maker night I</h1>
    	 			 </hgroup>
    	 			 <p>Lorem ipsum...</p>
    	 		 </div>
    	 		 <div class="small-6 columns">
    	 		   <div style="background-color: #880000">
    	 		     <img src="images/projects/macgyver-med.png" alt="Incendios" />
    	 		   </div>
    	 		 </div>
    	 	 </article>
  	 	
  	 </li>
  	 
  	</ul>
	</div>
</section>

<div class="main-content front">
	<div class="row">
		<section class="tag-line">
			<p>At Flipside we build our clients the tools that help them</p>
			<h2>create social impact</h2>
			<p>We build web-based tools for Civil Society Organisations, using Open Source technology.</p>
		</section>
		<section class="what-we-do">
			<ul>
				<li>
					<h3>Websites</h3>
				</li>
				<li>
					<h3>Data visualizations</h3>
				</li>
				<li>
					<h3>Data collection</h3>
				</li>
				<li>
					<h3>Open source + and open data</h3>
					<p>Being a strong driver of innovation, our projects are based on proven <strong>Open Source</strong> technologies. [OPEN DATA AS WELL...]</p>
				</li>
			</ul>
		</section>
	</div>
</div>

