---
layout: base
title : Flipside
contact: true
---
{% comment %}
  This layout contains the code for the index page.
  Whenever we want a post not to have a page we set
  it permalink to index.html and use this layout.
  It's some kind of black hole where posts go to die,
  or a /dev/null if you prefer. :)
{% endcomment %}

{% include slideshow.html %}

<div class="front row">
	<section class="tag-line">
		<p>We are Flipside, building web-based tools that help organisations</p>
		<h2>create social impact</h2>
	</section>
	<section class="what-we-do">
		<ul>
			<li>
				<h3>Websites</h3>
				<p>Build standards compliant websites that help organisations engage with society.</p>
				<p>See for example <a href="">20 years Fomin</a></p>.
			</li>
			<li>
				<h3>Data visualizations</h3>
				<p>Make complex issues easier to understand and explore, using open source technology.</p>
				<p>See for example <a href="">Incêndios</a></p>
			</li>
			<li>
				<h3>Data collection</h3>
				<p>Use modern technology to allow organisations to conduct surveys and manage their data.</p>
				<p>See for example <a hef="">Airwolf</a></p>
			</li>
			<li>
				<h3>Collaborative tools</h3>
				<p>Help disperse teams to coordinate their work and manage their projects.</p>
				<p>See for example <a hef="">MacGyver</a></p>
			</li>
		</ul>
	</section>
</div>