---
layout: base
title : Flipside
---
{% comment %}
  This layout contains the code for the index page.
  Whenever we want a post not to have a page we set
  it permalink to index.html and use this layout.
  It's some kind of black hole where posts go to die,
  or a /dev/null if you prefer. :)
{% endcomment %}

{% include slideshow.html %}

<div class="front row">
	<section class="tag-line">
		<p>At Flipside we build our clients the tools that help them</p>
		<h2>create social impact</h2>
		<p>We build web-based tools for Civil Society Organisations, using Open Source technology.</p>
	</section>
	<section class="what-we-do">
		<ul>
			<li>
				<h3>Websites</h3>
			</li>
			<li>
				<h3>Data visualizations</h3>
			</li>
			<li>
				<h3>Data collection</h3>
			</li>
			<li>
				<h3>Open source + and open data</h3>
				<p>Being a strong driver of innovation, our projects are based on proven <strong>Open Source</strong> technologies. [OPEN DATA AS WELL...]</p>
			</li>
		</ul>
	</section>
</div>