---
layout: default
---
<article class="blog-post eleven columns alpha">
  <header>
    <h1>
    	{{ page.title }}
    </h1>
    <section class="container">
      <!--<div class="user columns alpha">{{ site.users[page.user].name }}</div>
      <div class="date columns">{{ page.date | date: "%d %B %Y" }}</div>-->
      <div class="date columns alpha">{{ page.date | date: "%d %B %Y" }}</div>
      <div class="tags columns">{{ page.tags | join: ", " }}</div>
    </section>
  </header>
{{ content }}
</article>

<aside class="four columns offset-by-one omega">
  <section class="sidebar-author box">
    <!-- <img src="{{ site.users[page.user].photo }}" alt="Photo" class="author-photo" /> -->
    ABOUT THE AUTHOR:
    <h3>{{ site.users[page.user].name }}</h3>
    {{ site.users[page.user].bio | markdownify }}
    
    {% if site.users[page.user].email %}
      <a class="icon" href="mailto: {{ site.users[page.user].email }}" title="Write me an email">&#9993;</a>
    {% endif %}
    {% if site.users[page.user].github %}
      <a class="icon social" href="http://github.com/{{ site.users[page.user].github }}" title="Find me on Github">&#62208;</a>
    {% endif %}
    {% if site.users[page.user].twitter %}
      <a class="icon social" href="http://twitter.com/{{ site.users[page.user].twitter }}" title="Tweet me">&#62229;</a>
    {% endif %}
    
  </section>
</aside>