---
layout: base
active_menu : notes
contact: true
---
<header class="banner">
  <div class="row">
    <div class="heading">
      <h1 class="title">Notes</h1>
      <h2 class="section-title">Writings and stuff</h2>
    </div>
    <div class="actions">
      <ul>
        {% include filters.html active_filter=page.filter_name %}
        <li>
          <a href="{{ site.domain }}/feed.xml"><i class="icon-rss"></i><span class="visually-hidden">RSS</span></a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="main-content notes">
  <ul class="row grid-list">
    {{ content }}
  </ul>
</div>
