---
layout: base
active_menu : notes
twitter_card: true
facebook_og: true
contact: true
---

<article>

  {% if page.background_color %}
  <header class="banner" style="background-color: #{{ page.background_color }};">
  {% else %}
  <header class="banner">
  {% endif %}
  	<div class="row">
    	<div class="heading">
        <h1 class="title">{{ page.title }}</h1>
        <h2 class="section-title">Note</h2>
      </div>
    	<div class="actions">
        <ul>
          {% include social-share.html %}
          <li>
            <a href="#" class="notes-nav-link previous"><span class="visually-hidden">previous</span></a>
          </li>
          <li>
            <a href="#" class="notes-nav-link next"> <span class="visually-hidden">next</span></a>
          </li>
        </ul>
      </div>
    </div>
  </header>

 	<div class="row">
		<div class="content">
      {{ content }}
    </div>
    <aside>
      <section class="details">
        <h1>Details</h1>
        <dl>
          <dd>
            <a href="/about#team">
              <div class="media">
                {% image thumb {{ site.data.team[page.user].photo }} %}
              </div>
              <div class="teaser">
                <h1>{{ site.data.team[page.user].name }}</h1>
                <p class="meta">{{ site.data.team[page.user].function }}</p>
              </div>
            </a>
          </dd>
          {% if page.date %}
            <dt>Date</dt>
            <dd>{{ page.date | date: "%d %b. %Y" }}</dd>
            <dt>Category</dt>
            <dd>{{ page.filters | capitalize }}</dd>
          {% endif %}
        </dl>
      </section>
      {% if page.related_post %}
        {% include related-content.html %}
      {% endif %}
    </aside>
  </div>

</article>