---
layout: base
active_menu : projects
contact: true
---
{% comment %}
  To render these links we just loop through the posts array and find the
  project before and after.
{% endcomment %}

{% assign break_cycle = false %}

{% assign previous_project = false %}
{% assign next_project = false %}
{% assign current_found = false %}

{% for post in site.categories.project %}
  {% unless break_cycle %}
    {% if current_found %}
    
      {% assign next_project = post %}
      {% assign break_cycle = true %}
      
    {% else %}
    
      {% if page.url == post.url %}
        {% assign current_found = true %}
      {% else %}
        {% assign previous_project = post %}
      {% endif %}
      
    {% endif %}  
  {% endunless%}
{% endfor%}

<article>

  {% if page.background_color %}
  <header class="banner" style="background-color: #{{ page.background_color }};">
  {% else %}
  <header class="banner">
  {% endif %}
    <div class="row">
      <div class="heading">
        <h1 class="title">{{ page.title | widont }}</h1>
        <h2 class="section-title"><em>Under</em> Projects</h2>
      </div>
      <div class="actions">
        <ul class="projects-navigation">
          {% include social-share.html %}
          <li>
          {% if previous_project %}
            <a href="{{ previous_project.url }}" class="previous"><span>previous</span></a>
          {% else %}
            <a href="#" class="inactive previous"><span>previous</span></a>
          {% endif %}
          </li>
          <li>
          {% if next_project %}
            <a href="{{ next_project.url }}" class="next"><span>next</span></a>
          {% else %}
            <a href="#" class="inactive next"><span>next</span></a>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="content">  
      {% if page.image %}
      <div class="media-wrapper">
        <figure>
          {% image article projects/{{ page.image }} %}
        </figure>
      </div>
      {% endif %}
      {{ content }}
    </div>
    {% assign details = page.meta %}
    {% if details.type or details.client or details.technology or details.project_link.href %}
    <aside>
      <h1>Details</h1>
      <dl>
        {% if details.type %}
          <dt>Type</dt>
          <dd>{{ details.type }}</dd>
        {% endif %}
        {% if details.client %}
          <dt>Client</dt>
          <dd>{{ details.client }}</dd>
        {% endif %}
        {% if details.technology %}
          <dt>Technology</dt>
          <dd>{{ details.technology }}</dd>
        {% endif %}
        {% if details.project_link.href %}
          <dt>URL</dt>
          <dd><a href="{{ details.project_link.href }}">{{ details.project_link.href }}</a></dd>
        {% endif %}
      </dl>
    </aside>
    {% endif %}
  </div>
</article>